
.editor{
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr auto;
    grid-template-areas: 
        "canvas sidetoolbar"
        "bottomtoolbar sidetoolbar";
    height: 100vh;
    width: 100vw;
}

#canvas-container{
    background-color: #1e1e1e;
    padding: 4px;
}

#canvas img{
    width: 500px;
}

#bottomtoolbar{
    height: 10vh;
}

#sidetoolbar{
    background-color: #333333;
}

#deletemainbutton{
    margin-top: 1px;
    margin-bottom: 1px;
}

#downloadbutton{
    max-width: 50px;
    min-width: 50px;
    max-height: 50px;
    min-height: 50px;
}