
.editor{
    height: 100vh;
    width: 100vw;
}

#canvas-container{
    background-color: #1e1e1e;
    padding: 4px;
    position: relative;
}

#lineacentralvertical {
    position: absolute;
    top: 0;
    left: 50%;
    width: 1px; /* Cambiamos la propiedad width por height para que la línea sea vertical */
    height: 100%;
    background-color: #2196f3;
    transform: translateX(-50%);
    display: none;
}

#lineacentralhorizontal {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #2196f3;
    transform: translateY(-50%);
    display: none;
}

#lineamitadverticalizquierda{
    position: absolute;
    top: 0;
    left: 25%; /* ajustar para centrar en la mitad izquierda */
    width: 1px;
    height: 100%;
    background-color: #2196f3;
    transform: translateX(-50%);
    display: none;
}

#lineamitadverticalderecha{
    position: absolute;
    top: 0;
    right: 25%; /* ajustar para centrar en la mitad derecha */
    width: 1px;
    height: 100%;
    background-color: #2196f3;
    transform: translateX(50%);
    display: none;
}

#canvas img{
    width: 500px;
}

#bottomtoolbar{
    background-color: #333333;
}

#sidetoolbar{
    background-color: #333333;
}

#deletemainbutton{
    margin-top: 1px;
    margin-bottom: 1px;
}

#copybutton{
    margin-bottom: 1px;
}

#downloadbutton, #copybutton{
    max-width: 50px;
    min-width: 50px;
    max-height: 50px;
    min-height: 50px;
}

/* Chrome, Safari, Edge, Opera */
/* Hide horrible number arrows */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}